/* Estilos para la tabla */
.cardTable {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.event-table th,
.event-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.event-table th {
    background-color: #085b57;
    color: white;
}

.event-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.event-table tbody tr:hover {
    background-color: #e2e2e2;
}

.event-table td {
    color: #333;
}

/* Estilos para hacer la tabla responsive */
@media (max-width: 767px) {
    .event-table th,
    .event-table td {
        padding: 8px;
    }
}
